# IDE specific
.idea/
.vscode/
resources/_gen/
public/
.hugo_build.lock

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# MCSim
*.o
*.so
*.exe
*.dll
*.out

.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
