<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{.Site.Params.local_business_type | default .Site.Params.site_type}},
  "@id": {{.Site.BaseURL}},
  "name": {{.Site.Params.org_name | default .Site.Title}},
  {{with .Site.Params.logo}}"logo": {{printf "img/%s" . | absURL}},{{end}}
  {{with .Site.Params.sharing_image}}"image": {{printf "img/%s" . | absURL}},{{end}}
  {{ if (eq .Site.Params.site_type "LocalBusiness") | and .Site.Params.coordinates }}
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{.Site.Params.coordinates.latitude}},
    "longitude": {{.Site.Params.coordinates.longitude}}
  },
  {{end}}
  {{ with .Site.Params.address }}
  "address": {
    "@type": "PostalAddress",
    "streetAddress": {{ .street | default "" }},
    "addressLocality": {{ .city | default "" }},
    "addressRegion": {{ .region | default "" }},
    "postalCode": {{ .postcode | default "" }},
    "addressCountry": {{ .country_code | default .country | default "" }}
  },
  {{end}}
  {{ with .Site.Params.phone }}"telephone": {{.}},{{end}}
  "url": {{.Site.BaseURL}}
}
</script>
